In [1]:
import pandas as pd

path = "/Users/Pippo/Desktop/python_examples/Titanic/"


df = pd.read_excel('movie_recommendations.xlsx')

In [2]:
df

                               Name            Genre  Rating  Reviewer
0                         Inception         Thriller     5.0      Paul
1                           Titanic            drama     4.0  Kristian
2                           Memento         Thriller     5.0    Helena
3                     The Lion King          Cartoon     5.0      Paul
4                         Evil Dead           Horror     4.0       Tom
5           Texas Chainsaw Massacre           Horror     3.0      Paul
6                           Carnage           Comedy     5.0  Matthias
7                           Titanic            drama     4.0  Kristian
8                             Shrek          cartoon     5.0  Kristian
9                      Pulp Fiction            Crime     5.0    Helena
10                     Pulp Fiction              NaN     5.0  Kristian
11             Rocky Horror Picture               ??     4.0    Julian
12                     Run Lola Run     Crime/Drama?     NaN      Paul
13                    The Godfather            Crime     5.0    Felipe
14                        In Bruges      Dark Comedy     5.0      Paul
15                       Metropolis          Fantasy     4.0       Tom
16                           Avatar  Science Fiction     1.0  Matthias
17                    Pacific Rim 2            Kaiju     1.0  Kristian
18       Monster X vs the G7 Summit            Kaiju     1.0  Kristian
19          The Empire Strikes Back  Science Fiction     5.0  Matthias
20             Der unsichtbare Gast          Mystery     5.0    Helena
21         The Silence of the Lambs            Drama     5.0    Felipe
22     Mighty Morphin Power Rangers            Crime     2.0      Paul
23                         The Ring           Horror     3.0      Paul
24                     Big Lebowski           Comedy     5.0       Tom
25                             Lion            Drama     5.0      Paul
26                    Sleepy Hollow            Drama     2.0    Felipe
27  Monty Python and the Holy Grail           comedy     4.0  Kristian
28                      Cloud Atlas           Sci-Fi     5.0   Manohar
29                   Budapest Hotel           Comedy     4.0    Julian
30     Teenage Mutant Ninja Turtles           Comedy     1.0    Helena
31                       Casablanca            Drama     5.0    Glynis
32                      Rear Window         Thriller     5.0    Glynis
33                       Fight Club    Revolutionary     5.0   Manohar
34                 A beautiful mind           Biopic     4.0  Matthias
35                      Kill Bill 1              NaN     2.0    Julian
36               Observe and report           Comedy     1.0   Manohar
37                          Titanic            Farce     1.0       Tom
38                           Grease           Comedy     3.0   Nicolas
39               Lawrence of Arabia        Adventure     1.0    Felipe
40                        Mamma Mia          Musical     1.0   Manohar
41                        Mamma Mia          Musical     2.0       Tom
42               Gone with the Wind            Drama     3.0    Felipe
43               The Imitation Game            Drama     5.0      Paul
44                   Ready Player 1              NaN     1.0    Julian
45                           Brazil    Revolutionary     3.0  Kristian
46                Good Will Hunting            Drama     4.0  Matthias
47                        Citizen 4     Data Science     5.0  Kristian
48                       Ex Machina           Sci-Fi     4.0   Manohar
49                              NaN              NaN     NaN       NaN
50            2001: A space odyssey           Sci-Fi     5.0  Matthias
51                              NaN              NaN     NaN       NaN
52                        Moneyball     Data Science     3.0  Kristian
53                     12 Angry Men            Drama     1.0    Felipe
54                        Star Wars  Science fiction     NaN   Nicolas
55                       Adaptation            Drama     4.0   Manohar
56                       12 Monkeys           Sci-Fi     4.0    Helena
57                              NaN              NaN     NaN       NaN
58                             Dune           Sci-Fi     5.0      Nick
59                   Imitation Game     Data Science     3.0  Kristian

In [3]:
df.set_index('Name', inplace=True)

In [5]:
df.head(3)

              Genre  Rating  Reviewer
Name
Inception  Thriller     5.0      Paul
Titanic       drama     4.0  Kristian
Memento    Thriller     5.0    Helena

In [6]:
long = df.stack()

In [7]:
long.shape

(166,)

In [8]:
df.shape

(60, 3)

In [9]:
long.head(10)

Name
Inception      Genre       Thriller
               Rating             5
               Reviewer        Paul
Titanic        Genre          drama
               Rating             4
               Reviewer    Kristian
Memento        Genre       Thriller
               Rating             5
               Reviewer      Helena
The Lion King  Genre        Cartoon
dtype: object

In [10]:
long['Lion']

Genre       Drama
Rating          5
Reviewer     Paul
dtype: object

In [11]:
long[('Lion', 'Genre')]

'Drama'

In [13]:
long['Mamma Mia']

Genre       Musical
Rating            1
Reviewer    Manohar
Genre       Musical
Rating            2
Reviewer        Tom
dtype: object

In [14]:
# remove duplicates from the index

df.reset_index()

                               Name            Genre  Rating  Reviewer
0                         Inception         Thriller     5.0      Paul
1                           Titanic            drama     4.0  Kristian
2                           Memento         Thriller     5.0    Helena
3                     The Lion King          Cartoon     5.0      Paul
4                         Evil Dead           Horror     4.0       Tom
5           Texas Chainsaw Massacre           Horror     3.0      Paul
6                           Carnage           Comedy     5.0  Matthias
7                           Titanic            drama     4.0  Kristian
8                             Shrek          cartoon     5.0  Kristian
9                      Pulp Fiction            Crime     5.0    Helena
10                     Pulp Fiction              NaN     5.0  Kristian
11             Rocky Horror Picture               ??     4.0    Julian
12                     Run Lola Run     Crime/Drama?     NaN      Paul
13                    The Godfather            Crime     5.0    Felipe
14                        In Bruges      Dark Comedy     5.0      Paul
15                       Metropolis          Fantasy     4.0       Tom
16                           Avatar  Science Fiction     1.0  Matthias
17                    Pacific Rim 2            Kaiju     1.0  Kristian
18       Monster X vs the G7 Summit            Kaiju     1.0  Kristian
19          The Empire Strikes Back  Science Fiction     5.0  Matthias
20             Der unsichtbare Gast          Mystery     5.0    Helena
21         The Silence of the Lambs            Drama     5.0    Felipe
22     Mighty Morphin Power Rangers            Crime     2.0      Paul
23                         The Ring           Horror     3.0      Paul
24                     Big Lebowski           Comedy     5.0       Tom
25                             Lion            Drama     5.0      Paul
26                    Sleepy Hollow            Drama     2.0    Felipe
27  Monty Python and the Holy Grail           comedy     4.0  Kristian
28                      Cloud Atlas           Sci-Fi     5.0   Manohar
29                   Budapest Hotel           Comedy     4.0    Julian
30     Teenage Mutant Ninja Turtles           Comedy     1.0    Helena
31                       Casablanca            Drama     5.0    Glynis
32                      Rear Window         Thriller     5.0    Glynis
33                       Fight Club    Revolutionary     5.0   Manohar
34                 A beautiful mind           Biopic     4.0  Matthias
35                      Kill Bill 1              NaN     2.0    Julian
36               Observe and report           Comedy     1.0   Manohar
37                          Titanic            Farce     1.0       Tom
38                           Grease           Comedy     3.0   Nicolas
39               Lawrence of Arabia        Adventure     1.0    Felipe
40                        Mamma Mia          Musical     1.0   Manohar
41                        Mamma Mia          Musical     2.0       Tom
42               Gone with the Wind            Drama     3.0    Felipe
43               The Imitation Game            Drama     5.0      Paul
44                   Ready Player 1              NaN     1.0    Julian
45                           Brazil    Revolutionary     3.0  Kristian
46                Good Will Hunting            Drama     4.0  Matthias
47                        Citizen 4     Data Science     5.0  Kristian
48                       Ex Machina           Sci-Fi     4.0   Manohar
49                              NaN              NaN     NaN       NaN
50            2001: A space odyssey           Sci-Fi     5.0  Matthias
51                              NaN              NaN     NaN       NaN
52                        Moneyball     Data Science     3.0  Kristian
53                     12 Angry Men            Drama     1.0    Felipe
54                        Star Wars  Science fiction     NaN   Nicolas
55                       Adaptation            Drama     4.0   Manohar
56                       12 Monkeys           Sci-Fi     4.0    Helena
57                              NaN              NaN     NaN       NaN
58                             Dune           Sci-Fi     5.0      Nick
59                   Imitation Game     Data Science     3.0  Kristian

In [15]:
del long['Mamma Mia']

C:\Users\Pippo\Anaconda3\lib\site-packages\pandas\core\internals.py:389: FutureWarning: in the future insert will treat boolean arrays and array-likes as boolean index instead of casting it to integer
  self.values = np.delete(self.values, loc, 0)
C:\Users\Pippo\Anaconda3\lib\site-packages\pandas\core\internals.py:390: FutureWarning: in the future insert will treat boolean arrays and array-likes as boolean index instead of casting it to integer
  self.mgr_locs = self.mgr_locs.delete(loc)
C:\Users\Pippo\Anaconda3\lib\site-packages\pandas\core\indexes\multi.py:2910: FutureWarning: in the future insert will treat boolean arrays and array-likes as boolean index instead of casting it to integer
  new_labels = [np.delete(lab, loc) for lab in self.labels]

In [16]:
del long['Titanic']

C:\Users\Pippo\Anaconda3\lib\site-packages\pandas\core\internals.py:389: FutureWarning: in the future insert will treat boolean arrays and array-likes as boolean index instead of casting it to integer
  self.values = np.delete(self.values, loc, 0)
C:\Users\Pippo\Anaconda3\lib\site-packages\pandas\core\internals.py:390: FutureWarning: in the future insert will treat boolean arrays and array-likes as boolean index instead of casting it to integer
  self.mgr_locs = self.mgr_locs.delete(loc)
C:\Users\Pippo\Anaconda3\lib\site-packages\pandas\core\indexes\multi.py:2910: FutureWarning: in the future insert will treat boolean arrays and array-likes as boolean index instead of casting it to integer
  new_labels = [np.delete(lab, loc) for lab in self.labels]

In [17]:
del long['Titanic']

C:\Users\Pippo\Anaconda3\lib\site-packages\pandas\core\internals.py:389: FutureWarning: in the future insert will treat boolean arrays and array-likes as boolean index instead of casting it to integer
  self.values = np.delete(self.values, loc, 0)
C:\Users\Pippo\Anaconda3\lib\site-packages\pandas\core\internals.py:390: FutureWarning: in the future insert will treat boolean arrays and array-likes as boolean index instead of casting it to integer
  self.mgr_locs = self.mgr_locs.delete(loc)
C:\Users\Pippo\Anaconda3\lib\site-packages\pandas\core\indexes\multi.py:2910: FutureWarning: in the future insert will treat boolean arrays and array-likes as boolean index instead of casting it to integer
  new_labels = [np.delete(lab, loc) for lab in self.labels]

In [18]:
del long['Titanic']

C:\Users\Pippo\Anaconda3\lib\site-packages\pandas\core\internals.py:389: FutureWarning: in the future insert will treat boolean arrays and array-likes as boolean index instead of casting it to integer
  self.values = np.delete(self.values, loc, 0)
C:\Users\Pippo\Anaconda3\lib\site-packages\pandas\core\internals.py:390: FutureWarning: in the future insert will treat boolean arrays and array-likes as boolean index instead of casting it to integer
  self.mgr_locs = self.mgr_locs.delete(loc)
C:\Users\Pippo\Anaconda3\lib\site-packages\pandas\core\indexes\multi.py:2910: FutureWarning: in the future insert will treat boolean arrays and array-likes as boolean index instead of casting it to integer
  new_labels = [np.delete(lab, loc) for lab in self.labels]

In [19]:
df.shape

(60, 3)

In [20]:
# short list
short = long.head(15)

In [21]:
short

Name
Memento                  Reviewer      Helena
The Lion King            Genre        Cartoon
                         Rating             5
                         Reviewer        Paul
Evil Dead                Genre         Horror
                         Rating             4
                         Reviewer         Tom
Texas Chainsaw Massacre  Genre         Horror
                         Rating             3
                         Reviewer        Paul
Carnage                  Genre         Comedy
                         Rating             5
                         Reviewer    Matthias
Titanic                  Genre          drama
                         Rating             4
dtype: object

In [22]:
# wide from long to wide

wide = short.unstack()

In [23]:
wide

                           Genre Rating  Reviewer
Name
Memento                      NaN    NaN    Helena
The Lion King            Cartoon      5      Paul
Evil Dead                 Horror      4       Tom
Texas Chainsaw Massacre   Horror      3      Paul
Carnage                   Comedy      5  Matthias
Titanic                    drama      4       NaN

In [24]:
wide.head()

                           Genre Rating  Reviewer
Name
Memento                      NaN    NaN    Helena
The Lion King            Cartoon      5      Paul
Evil Dead                 Horror      4       Tom
Texas Chainsaw Massacre   Horror      3      Paul
Carnage                   Comedy      5  Matthias

In [25]:
short.head()

Name
Memento        Reviewer     Helena
The Lion King  Genre       Cartoon
               Rating            5
               Reviewer       Paul
Evil Dead      Genre        Horror
dtype: object

In [28]:
wide2 = short.unstack(0)

In [29]:
wide2

Name,Memento,The Lion King,Evil Dead,Texas Chainsaw Massacre,Carnage,Titanic
Genre,NaN,Cartoon,Horror,Horror,Comedy,drama
Rating,NaN,5,4,3,5,4
Reviewer,Helena,Paul,Tom,Paul,Matthias,NaN

In [32]:
wide2 = short.unstack(0).transpose()

In [33]:
wide2

                           Genre Rating  Reviewer
Name
Memento                      NaN    NaN    Helena
The Lion King            Cartoon      5      Paul
Evil Dead                 Horror      4       Tom
Texas Chainsaw Massacre   Horror      3      Paul
Carnage                   Comedy      5  Matthias
Titanic                    drama      4       NaN

In [34]:
df.reset_index()

                               Name            Genre  Rating  Reviewer
0                         Inception         Thriller     5.0      Paul
1                           Titanic            drama     4.0  Kristian
2                           Memento         Thriller     5.0    Helena
3                     The Lion King          Cartoon     5.0      Paul
4                         Evil Dead           Horror     4.0       Tom
5           Texas Chainsaw Massacre           Horror     3.0      Paul
6                           Carnage           Comedy     5.0  Matthias
7                           Titanic            drama     4.0  Kristian
8                             Shrek          cartoon     5.0  Kristian
9                      Pulp Fiction            Crime     5.0    Helena
10                     Pulp Fiction              NaN     5.0  Kristian
11             Rocky Horror Picture               ??     4.0    Julian
12                     Run Lola Run     Crime/Drama?     NaN      Paul
13                    The Godfather            Crime     5.0    Felipe
14                        In Bruges      Dark Comedy     5.0      Paul
15                       Metropolis          Fantasy     4.0       Tom
16                           Avatar  Science Fiction     1.0  Matthias
17                    Pacific Rim 2            Kaiju     1.0  Kristian
18       Monster X vs the G7 Summit            Kaiju     1.0  Kristian
19          The Empire Strikes Back  Science Fiction     5.0  Matthias
20             Der unsichtbare Gast          Mystery     5.0    Helena
21         The Silence of the Lambs            Drama     5.0    Felipe
22     Mighty Morphin Power Rangers            Crime     2.0      Paul
23                         The Ring           Horror     3.0      Paul
24                     Big Lebowski           Comedy     5.0       Tom
25                             Lion            Drama     5.0      Paul
26                    Sleepy Hollow            Drama     2.0    Felipe
27  Monty Python and the Holy Grail           comedy     4.0  Kristian
28                      Cloud Atlas           Sci-Fi     5.0   Manohar
29                   Budapest Hotel           Comedy     4.0    Julian
30     Teenage Mutant Ninja Turtles           Comedy     1.0    Helena
31                       Casablanca            Drama     5.0    Glynis
32                      Rear Window         Thriller     5.0    Glynis
33                       Fight Club    Revolutionary     5.0   Manohar
34                 A beautiful mind           Biopic     4.0  Matthias
35                      Kill Bill 1              NaN     2.0    Julian
36               Observe and report           Comedy     1.0   Manohar
37                          Titanic            Farce     1.0       Tom
38                           Grease           Comedy     3.0   Nicolas
39               Lawrence of Arabia        Adventure     1.0    Felipe
40                        Mamma Mia          Musical     1.0   Manohar
41                        Mamma Mia          Musical     2.0       Tom
42               Gone with the Wind            Drama     3.0    Felipe
43               The Imitation Game            Drama     5.0      Paul
44                   Ready Player 1              NaN     1.0    Julian
45                           Brazil    Revolutionary     3.0  Kristian
46                Good Will Hunting            Drama     4.0  Matthias
47                        Citizen 4     Data Science     5.0  Kristian
48                       Ex Machina           Sci-Fi     4.0   Manohar
49                              NaN              NaN     NaN       NaN
50            2001: A space odyssey           Sci-Fi     5.0  Matthias
51                              NaN              NaN     NaN       NaN
52                        Moneyball     Data Science     3.0  Kristian
53                     12 Angry Men            Drama     1.0    Felipe
54                        Star Wars  Science fiction     NaN   Nicolas
55                       Adaptation            Drama     4.0   Manohar
56                       12 Monkeys           Sci-Fi     4.0    Helena
57                              NaN              NaN     NaN       NaN
58                             Dune           Sci-Fi     5.0      Nick
59                   Imitation Game     Data Science     3.0  Kristian

In [35]:
df2 = df.reset_index()

In [38]:
df2.shape

(60, 4)